/* --------------------------------- Colours -------------------------------- */
$primary: #F4F3EE;
$secondary: #C32C72;
$primary-hover-colour: #C32C72;
$background-colour: #E5E5E5;

/* ---------------------------------- Fonts --------------------------------- */
$font-family-sans-serif: 'Open Sans', sans-serif;

$border-radius: 30px;